/*background style*/
body{
    background-color: rgb(91, 75, 150);
    background-position: center;
}
/*glassmorphism card effect*/
.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px)saturate(180%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 40px;
    border:1px solid rgba(255, 255, 255, 0.61);

}
.flex flex-col{
    padding: 10px 20px;
    baackground-color:#4caf50;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #4caf50;
    transition: box-shadow 0.3s ease-in-out;
}